{% extends "base.html" %} {% load bootstrap %}{% load static %} {% block content-header %}

    <i class="fa fa-user "> </i> Clientes
    <small>Gerenciar Clientes</small>


{% endblock content-header %} {% block content-main %}

    <div class="col-xs-12">

        <!-- /.box -->


        <div class="box table-responsive">
            <div class="box-header">

                <button type="button" class="ui-button" data-toggle="modal" data-target="#exampleModal51">Cadastrar
                    Cliente
                </button>

            </div>


            <div class="box-header">
                <h3 class="box-title">Todos os clientes cadastradas no sistema</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabela" class="table no-margin table-bordered" style="font-size: 13px">

                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Contato</th>
                            <th>Email</th>
                            <th>Cidade</th>
                            <th>Bairro</th>
                            <th>Rua</th>
                            <th>Nº</th>
                            <th>Ações</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for u in cliente %}
                            <tr>
                                <td>{{ u.nome }}</td>
                                <td>{{ u.contato }}</td>
                                <td>{{ u.email }}</td>
                                <td>{{ u.cidade }}</td>
                                <td>{{ u.bairro }}</td>
                                <td>{{ u.rua }}</td>
                                <td>{{ u.numero }}</td>


                                <td>
                                    <a href="{% url 'cliente_edit' u.id %}" data-toggle="modal"
                                       data-target="#myModal{{ u.id }}">
                                        <button type="button" class="btn btn-xs btn-warning">Editar</button>
                                    </a>
                                    <a href="{% url 'cliente_delete' u.id %}">
                                        <button type="button" class="btn btn-xs btn-danger">Apagar</button>
                                    </a>

                                </td>


                            </tr>


                            <div class="modal fade" id="myModal{{ u.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                    </div>
                                </div>
                            </div>


                        {% endfor %}


                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <div class="modal fade" id="exampleModal51" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel"> Cadastrar Cliente</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %} {{ form|bootstrap }}
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock content-main %} {% block extraJS %}

    <script>


        $(function () {
            var campo = $("#id_nomeproduto");
            campo.keyup(function (e) {
                e.preventDefault();
                campo.val($(this).val().toUpperCase());
            });
        });

        $(function () {
            $('#tabela').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': false,
                'info': true,
                'autoWidth': true,
                "language": {
                    "url": "{% static 'datatables/Portuguese-Brasil.json' %}"
                },
            })
        });
    </script>




{% endblock extraJS %}