<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-success">Cadastrar</button>
</form>

{% for u in instrutor %}
<tr>
    <td><a href="{% url 'instrutor_edit' u.id %}">{{ u.nome }}</a></td>
    <td>{{ u.rg }}</td>
    <td>{{ u.nascimento }}</td>
    <td>{{ u.titulacao }}</td>
 <a href="{% url 'instrutor_delete' u.id %}">
     <button type="button" class="btn btn-xs btn-danger">Apagar</button>
 </a> <br>
</tr>
{% endfor %}

